* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#InputMessageIcon{
  color: white;
  background-color: #A9C97D;
  border-radius: 100%;
  margin-left: 5px;
  font-size: 30px;
  padding: 4px;
  

}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(97, 95, 95, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(119, 116, 116, 0.5);
}
#emojiMessageIcon {
    
  border-radius: 100%;
  margin-right: 5px;
  font-size: 40px;
  padding: 4px;


}